<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/background.css">
    <title>Imágenes</title>
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .gallery img {
            margin: 5px;
            width: 30%;
        }
    </style>
</head>
<body>
	<div class="navbar">
		<a href="/components/home.html">Inicio</a>
		<a href="videos/videos.html">Videos</a>
		<a href="imagenes/imagenes.html">Imagenes</a>
	</div>
<div class="gallery">
    <img src="../imagenes/newpics/im1.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im2.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im3.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im4.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im5.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im6.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im7.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im8.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im9.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im10.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im11.PNG" alt="Descripción de la imagen 1">
    <img src="../imagenes/newpics/im12.PNG" alt="Descripción de la imagen 1">

    <!-- Añade más imágenes según sea necesario -->
</div>
</body>
</html>
