<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/background.css">
	<title>Videos</title>
	<style>
		 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe3b3;
  }
		.video-container {
			display: flex;
			justify-content: center; 
			align-items: center;
			flex-wrap: wrap;
			gap: 20px; 
			margin-top: 30px;
		}
		iframe {
			flex: 1; 
			max-width: 560px;
		}
	</style>
</head>
<body>
    <div class="navbar">
		<a href="/components/home.html">Inicio</a>
		<a href="videos/videos.html">Videos</a>
		<a href="../imagenes/imagenes.html">Imagenes</a>
	</div>

<div class="video-container">
	<!-- Video 1 -->
	<iframe width="560" height="315" src="https://www.youtube.com/embed/4cYvOOITTdg" title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<!-- Video 2 -->
	<iframe width="560" height="315" src="https://www.youtube.com/embed/wffT5LlLfis" title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<!-- Video 3 -->
	<iframe width="560" height="315" src="https://www.youtube.com/embed/seyFt4FTqpQ" title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>
</html>
